<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.krish512.k_exchange">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.krish512.k_exchange.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Support Android Pie 9-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature" />

    <permission android:name="com.krish512.k_exchange.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light" android:networkSecurityConfig="@xml/network_security_config">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:label="@string/app_name" android:name="com.krish512.k_exchange.Splashscreen" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/login" android:name="com.krish512.k_exchange.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name="com.krish512.k_exchange.HomeActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/register" android:name="com.krish512.k_exchange.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/edit_profile" android:name="com.krish512.k_exchange.EditProfileActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/properties" android:name="com.krish512.k_exchange.PropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/view_profile" android:name="com.krish512.k_exchange.ViewProfileActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/abbreviation" android:name="com.krish512.k_exchange.AbbreviationsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/property_info" android:name="com.krish512.k_exchange.InfoPropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/myproperties" android:name="com.krish512.k_exchange.MyPropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/agents" android:name="com.krish512.k_exchange.AgentActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/filter" android:name="com.krish512.k_exchange.FilterActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/addproperty" android:name="com.krish512.k_exchange.AddPropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/about" android:name="com.krish512.k_exchange.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/mycitytown" android:name="com.krish512.k_exchange.CityTownActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/optionalinfo" android:name="com.krish512.k_exchange.OptionalInfoActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/editproperty" android:name="com.krish512.k_exchange.EditPropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/help" android:name="com.krish512.k_exchange.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/myaccount" android:name="com.krish512.k_exchange.MyAccountActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/membershipdetails" android:name="com.krish512.k_exchange.MembershipDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/properties" android:name="com.krish512.k_exchange.AgentPropertyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_noticeboard" android:name="com.krish512.k_exchange.NoticeboardActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_my_noticeboard" android:name="com.krish512.k_exchange.MyNoticeboardActivity" android:screenOrientation="portrait"/>
        <receiver android:name="com.krish512.k_exchange.Utils.App42GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.krish512.k_exchange"/>
            </intent-filter>
        </receiver>
        <service android:name="com.krish512.k_exchange.Utils.App42GCMService">
            <meta-data android:name="onMessageOpen" android:value="com.krish512.k_exchange.Splashscreen"/>
        </service>
    </application>
</manifest>